{%extends 'base.html'%}
{%load custom_filters%}
{%block title%} Profile {%endblock title%}

{%block body_content%}
{% if request.user.is_authenticated %}
<div class="btn-group mt-1" role="group">
    {% if request.user.role == "TE" %}
    {% setvar request.user|toString as teacher %}
    <a type="button" class="btn btn-primary" href="{% url 'quiz_view-list' %}?teacher={{teacher}}">My Quizez</a>&nbsp;
    <a type="button" class="btn btn-primary" href="{% url 'createQuiz' %}">Create Quiz</a>&nbsp;
    {% elif request.user.role == "ST" %}
    <a type="button" class="btn btn-primary" href="{% url 'stdData' request.user %}">My Data</a>&nbsp;
    {%endif%}
    <a type="button" class="btn btn-primary" href="{% url 'user_details-detail' request.user %}" >My Account Details</a>&nbsp;
    <a type="button" class="btn btn-primary" href="{% url 'createArticle' %}">Create Article</a>&nbsp;
    <a type="button" class="btn btn-primary" href="{% url 'article_view-list'%}?created_by={{request.user}}">My Articles</a>&nbsp;
</div>
{%endif%}

{%block user_body%}
{%endblock user_body%}

{%endblock body_content%}