{%extends 'account/user_account.html'%}
{% load custom_filters %}
{% load static %}

{%block head%}
<style>
    .bold-title{
        font-weight: bold;
    }
</style>

{%endblock head%}

{%block user_body%}
    <div id="create-div" class="container">
        {%if add == 0%}
        <form method="post" action="{% url 'createQuiz' %}">
            {%csrf_token%}
            <div class="row mt-2">
                <div class="col-sm-4">
                    <label style="font-weight: bold;">How Many Questions you want in Quiz :: </label>
                </div>
                <div class="col-sm-8">
                    <input type="text" name="num" class="form-control">
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-sm-12">
                    <input type="hidden" value="{{request.user}}" name="username">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <button class="btn btn-primary w-100">Okay</button>
                </div>
            </div>
        </form>
        {%elif add == 1%}
        
        <form class="mt-1" id="new-Quiz" method="post" action="{% url 'quiz_view-list' %}">
            {%csrf_token%}
            <div class="row mt-1">
                <div class="col-sm-4">
                    <label class="form-label bold-title">Title :: </label>
                </div>
                <div class="col-sm-8">
                    <input class="form-control" name="title" type="text" required >
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-sm-4">
                    <label class="form-label bold-title">Category :: </label>
                </div>
                <div class="col-sm-8">
                    <input class="form-control" name="category" type="text" required >
                </div>
            </div>
            {% for i in total%}
            <div class="row mt-1">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header" id="heading{{i}}">
                            <h2 class="mb-0">
                                <button class="btn btn-secondary btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse{{i}}" aria-expanded="false">
                                Question {{i}}
                                </button>
                            </h2>
                        </div>

                        <div id="collapse{{i}}" class="collapse">
                            <div class="card-body">
                                <div class="row mt-1">
                                    <div class="col-sm-4">
                                        <label class="form-label bold-title">Question :: </label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input class="form-control" name="question{{i}}" type="text">
                                    </div>
                                </div>

                                <div class="row mt-1">
                                    <div class="col-sm-4">
                                        <label class="form-label bold-title">Choices :: </label>
                                    </div>
                                    <div class="col-sm-2">
                                        <input class="form-control" name="choice1_{{i}}" type="text">
                                    </div>
                                    <div class="col-sm-2">
                                        <input class="form-control" name="choice2_{{i}}" type="text">
                                    </div>
                                    <div class="col-sm-2">
                                        <input class="form-control" name="choice3_{{i}}" type="text">
                                    </div>
                                    <div class="col-sm-2">
                                        <input class="form-control" name="choice4_{{i}}" type="text">
                                    </div>
                                </div>

                                <div class="row mt-1">
                                    <div class="col-sm-4">
                                        <label class="form-label bold-title">Answer :: </label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input class="form-control" name="answer{{i}}" type="text" >
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            {%endfor%}
            <input required type="hidden" name="total" value="{{num}}">
            <div class="row mt-1">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary w-100"> Create Quiz </button>
                </div>
            </div>
        </form>
            
            
        {%endif%}
    </div>
{%endblock user_body%}