{% extends 'base.html' %}
{%load static%}
{%load custom_filters%}

{% block title %}Filter Quiz {% endblock title %}
{%block head%}
<script type="text/javascript">
    var current_user = "{{request.user}}";
    var role = "{{request.user.role}}";
</script>
<script src="{% static 'globals.js' %}" type="text/javascript"></script> 
<script src="{% static 'quiz/quiz.js' %}" type="text/javascript"></script>
<script src="{% static 'quiz/filterQuiz.js' %}" type="text/javascript"></script>
{%endblock head%}

{% block body_content %}

<div class="btn-group">
    <button class="btn btn-primary" onclick="show_categories()">By Categories</button>&nbsp;
    <button class="btn btn-primary" onclick="show_teachers()">By Teachers</button>
</div>

<div class="container mt-2" id="filter"></div>

<div class="card" id="quiz"></div>

{% endblock body_content %}