{% extends 'account/user_account.html' %}
{% load custom_filters %}
{%load static%}
{%block head%}
<script src="{% static 'globals.js' %}"></script>
<script src="{% static 'quiz/m_quiz.js' %}"></script>
{%endblock head%}

{%block user_body%}
<div class="card text-center border-dark mb-3"  id="show_quiz">
    <div class="card-header" style="font-size: 26px;">My Quizes</div>
    <ul class="list-group list-group-flush " id="user_quizes">
      {% for quiz in result %}
      <button type="button" class="btn btn-light btn-lg" onclick="editQuiz('{{quiz.items| get_key}}')">
        &nbsp;<b>{{quiz.items| get_key}}</b>&nbsp;<small style="font-size: 16px;">
        <p style="font-size: 14px; color: lightslategray;">at {{quiz.items| get_key:"created"| f_date}}</p>
        </small>
      </button>
      {% endfor %}
    </ul>
</div>
  {% if next %}
    <a type="button" class="btn btn-dark btn-lg" href="{{next}}">Next Page</a>
  {% endif %}
  {% if prev %}
    <a type="button" class="btn btn-dark btn-lg" href="{{prev}}">Previous Page</a>
  {% endif %}
  <div class="container" id="edit-btns"></div>
  <div class="container" id="edit-div"></div>


{%endblock user_body%}