{%extends 'base.html'%}
{%load static%}
{%load custom_filters%}

{%block head%}
<style>
    .max-flow{
        max-height: 300px;
        overflow-y: auto;
    }
</style>

{%endblock head%}

{%block body_content%}

    {%if btns == 1 %}
        <div class="btn-group">
            <div>
                <form method="post" action="{% url 'fArticle' %}">
                    {%csrf_token%}
                    <input required type="hidden" value="category" name="type">
                    <button class="btn btn-primary" type="submit">By Categories</button>
                </form>
            </div>
            &nbsp;
            <div>
                <form method="post" action="{% url 'fArticle' %}">
                    {%csrf_token%}
                    <input required type="hidden" value="user" name="type">
                    <button class="btn btn-primary" type="submit">By Users</button>
                </form>
            </div>
        </div>

    {%elif btns == 0%}
        <div class="container">
            <div class="card">
                <div class="card-header text-center" style="font-size: 24px; font-weight: bold;">
                    All {{type}}
                </div>
            </div>
            <ul class="list-group list-group-flush max-flow">
                {% for value in data %}
                    {% if type == "Categories" %}
                        <a class="btn btn-light btn-lg" type="button" href="{% url 'article_view-list' %}?category={{value}}">
                            {{value}}
                        </a>
                    {% elif type == "Users" %}
                        <a class="btn btn-light btn-lg" type="button" href="{% url 'article_view-list' %}?created_by={{value}}">
                            {{value|fullname}}
                        </a>
                    {%endif%}
                {% endfor %}
            </ul>
        </div>
    {%endif%}

{%endblock body_content%}