{%extends 'base.html'%}
{%load static%}
{%load custom_filters%}

{%block body_content%}
<div class="card text-center border-dark ">
    <div class="card-header" style="font-size: 26px; font-weight: bold;"> Quizes </div>
    <ul class="list-group list-group-flush">
    {% for quiz in  quizes%}
    <a type="button" class="btn btn-light btn-lg" href="{% url 'quiz_view-detail' quiz.title %}"><b>{{quiz}}</b>&nbsp;
        <small style="font-size:12px;">by <b>{{quiz.teacher|fullname}}</b></small>
    </a>
    {% endfor %}
    </ul>
    <a type="button" class="btn btn-secondary" href="{% url 'quiz_view-list' %}">Show All</a>
</div>

<div class="card text-center border-dark mt-2">
    <div class="card-header" style="font-size: 26px; font-weight: bold;"> Articles </div>
    <ul class="list-group list-group-flush">
    {% for article in  articles%}
    <a class="btn btn-light btn-lg" type="button" href="{% url 'article_view-detail' article.id %}"><b>{{article}}</b>&nbsp;
        <small style="font-size:12px;">by <b>{{article.created_by|fullname}}</b></small>
    </a>
    {% endfor %}
    </ul>
    <a type="button" class="btn btn-secondary" href="{% url 'article_view-list' %}">Show All</a>
</div>
{%endblock body_content%}